# Capítulo 2 - Um curso intensivo de Python

Esse capítulo busca introduzir ao usuário a linguagem Python.

In [300]:
from collections import defaultdict, Counter
from typing import List, Optional, Dict, Iterable, Tuple, Callable
import random
import re

## Formatação e espaço em branco

In [196]:
for i in [1, 2, 3, 4, 5]:
    print(i)
    for j in [1, 2, 3, 4, 5]:
        print(j)
        print(i + j)
    print(i)
print("Concluído")

1
1
2
2
3
3
4
4
5
5
6
1
2
1
3
2
4
3
5
4
6
5
7
2
3
1
4
2
5
3
6
4
7
5
8
3
4
1
5
2
6
3
7
4
8
5
9
4
5
1
6
2
7
3
8
4
9
5
10
5
Concluído

In [197]:
calculo_longo = (1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10 + 11 + 12 + 13 + 14 + 15 + 16 + 17 + 18 + 19 + 20)
calculo_longo

210

In [198]:
lista_de_lista = [[1, 2, 3],
                  [4, 5, 6],
                  [7, 8, 9]]

## Módulos

In [199]:
import re
my_regex = re.compile("[0-9]+", re.I)

In [200]:
lookup = defaultdict(int)
my_counter = Counter()

In [201]:
match = 10
from re import *
print(match)

<function match at 0x7f7dc4bac8b0>

## Funções

In [202]:
def double(x):
    return x * 2

def apply_to_one(f):
    return f(1)

In [203]:
my_double = double
x = apply_to_one(my_double)
y = apply_to_one(lambda x: x + 4)
print(x)
print(y)

2
5

In [204]:
def another_double(x):
    return 2 * x

def my_print(message = "My default message"):
    print(message)

my_print("Hello")
my_print()

Hello
My default message

In [205]:
def full_name(first = "What's-his-name", last = "something"):
    return first + " " + last

print(full_name("Joel", "Grus"))
print(full_name("Joel"))
print(full_name(last = "Grus"))

Joel Grus
Joel something
What's-his-name Grus

## Strings

In [206]:
single_quoted_string = 'data science'
double_quoted_string = "data science"

tab_string = "\t"
len(tab_string)

1

In [207]:
not_tab_string = r"\t"
not_tab_string

'\\t'

In [208]:
multi_len_string = """"Esta é
uma string
composta por
várias linhas"""

multi_len_string

'"Esta é\numa string\ncomposta por\nvárias linhas'

In [209]:
first_name = "Joel"
last_name = "Gaus"
full_name_1 = first_name + " " + last_name
full_name_2 = "{0} {1}".format(first_name, last_name)
full_name_3 = f"{first_name} {last_name}"
print(full_name_1, "\n", full_name_2, "\n", full_name_3)

Joel Gaus
 Joel Gaus
 Joel Gaus

## Exceções

In [210]:
try:
    print(0 / 0)
except ZeroDivisionError:
    print("Cannot divide by zero")

Cannot divide by zero

## Listas

In [211]:
integer_list = [1, 2, 3]
heterogeneous_list = ["string", 0.1, True]
list_of_lists = [integer_list, heterogeneous_list, []]

list_length = len(integer_list)
list_sum = sum(integer_list)

print(list_length, list_sum)

3 6

In [212]:
x = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
zero = x[0]
one = x[1]
nine = x[-1]
eight = x[-2]
x[0] = -1

print(zero, one, nine, eight, x)

0 1 9 8 [-1, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [213]:
first_three = x[:3]
three_to_end = x[3:]
one_to_four = x[1:5]
last_three = x[-3:]
without_first_and_last = x[1:-1]
copy_of_x = x[:]

print(first_three, "\n", three_to_end, "\n", one_to_four, "\n", last_three, "\n", without_first_and_last, "\n", copy_of_x)

[-1, 1, 2]
 [3, 4, 5, 6, 7, 8, 9]
 [1, 2, 3, 4]
 [7, 8, 9]
 [1, 2, 3, 4, 5, 6, 7, 8]
 [-1, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [214]:
every_third = x[::3]
five_to_three = x[5:2:-1]

print(every_third, five_to_three)

[-1, 3, 6, 9] [5, 4, 3]

In [215]:
1 in [1, 2, 3]

True

In [216]:
0 in [1, 2, 3]

False

In [217]:
x = [1, 2, 3]
x.extend([4, 5, 6])
x

[1, 2, 3, 4, 5, 6]

In [218]:
x = [1, 2, 3]
y = x + ([4, 5, 6])
print(x, y)

[1, 2, 3] [1, 2, 3, 4, 5, 6]

In [219]:
x = [1, 2, 3]
x.append(0)
y = x[-1]
z = len(x)
print(x, y, z)

[1, 2, 3, 0] 0 4

In [220]:
x, y = [1, 2]
_, z = [3, 4]

print(x, y, z)

1 2 4

## Tuplas

In [221]:
my_list = [1, 2]
my_tuple = (1, 2)
other_tuple = 3, 4
my_list[1] = 3

try:
    my_tuple[1] = 3
except TypeError:
    print("Cannot modify a tuple")

Cannot modify a tuple

In [222]:
def sum_and_product(x, y):
    return (x + y), (x * y)

sp = sum_and_product(2, 3)
s, p = sum_and_product(5, 10)

print(sp, s, p)

(5, 6) 15 50

In [223]:
x, y = (1, 2)
x, y = y, x
print(x, y)

2 1

## Dicionários

In [224]:
empty_dict = {}
empty_dict_2 = dict()
grades = {"Joel" : 80, "Tim" : 95}
joels_grade = grades["Joel"]

In [225]:
try:
    kater_grade = grades['Kate']
except KeyError:
    print("No grade for Kate!")

No grade for Kate!

In [226]:
joel_has_grade = "Joel" in grades
kate_has_grade = "Kate" in grades
print(joel_has_grade, kate_has_grade)

True False

In [227]:
joels_grade = grades.get("Joel", 0)
kates_grade = grades.get("Kate", 0)
no_ones_grade = grades.get("No One")

print(joels_grade, kates_grade, no_ones_grade)

80 0 None

In [228]:
grades['Tim'] = 99
grades['Kate'] = 100
num_students = len(grades)

print(grades, num_students)

{'Joel': 80, 'Tim': 99, 'Kate': 100} 3

In [229]:
tweet = {
    "user" : "joelgrus",
    "text" : "Data science é top",
    "retweet_counts" : 100,
    "hashtags" : ['#data', '#science']
}

tweet_keys = tweet.keys()
tweet_values = tweet.values()
tweet_items = tweet.items()

print(tweet_keys, tweet_values, tweet_items)

dict_keys(['user', 'text', 'retweet_counts', 'hashtags']) dict_values(['joelgrus', 'Data science é top', 100, ['#data', '#science']]) dict_items([('user', 'joelgrus'), ('text', 'Data science é top'), ('retweet_counts', 100), ('hashtags', ['#data', '#science'])])

In [230]:
print("user" in tweet_keys, "user" in tweet, "joelgrus" in tweet_values)

True True True

## defaultdict

In [231]:
document = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales convallis quam eleifend hendrerit. In mollis imperdiet diam vitae dapibus. Curabitur ut tincidunt ipsum. Etiam lobortis odio viverra dui iaculis, et venenatis risus semper. Sed a suscipit mi. Sed nec dui et ante sagittis ultricies. Vivamus aliquam varius massa, ornare fringilla sapien venenatis sed. Nunc sagittis, urna euismod sodales varius, dui diam posuere mauris, vitae euismod odio massa vel orci. Sed volutpat tempus tortor quis dignissim. Nulla diam mauris, tristique id nisl vel, accumsan sagittis quam. Sed non leo lacus. Cras tincidunt tincidunt dolor, id tempus eros iaculis nec. Mauris tempus nibh non vestibulum tristique. Ut sodales ipsum ac libero commodo, vitae dapibus sem euismod. Etiam luctus aliquam lacus, non posuere metus viverra eget. Nam commodo sodales odio vel aliquam."

words_count = {}
for word in document.split(" "):
    if word in words_count:
        words_count[word] += 1
    else:
        words_count[word] = 1

words_count

{'Lorem': 1,
 'ipsum': 2,
 'dolor': 1,
 'sit': 1,
 'amet,': 1,
 'consectetur': 1,
 'adipiscing': 1,
 'elit.': 1,
 'Proin': 1,
 'sodales': 4,
 'convallis': 1,
 'quam': 1,
 'eleifend': 1,
 'hendrerit.': 1,
 'In': 1,
 'mollis': 1,
 'imperdiet': 1,
 'diam': 3,
 'vitae': 3,
 'dapibus.': 1,
 'Curabitur': 1,
 'ut': 1,
 'tincidunt': 3,
 'ipsum.': 1,
 'Etiam': 2,
 'lobortis': 1,
 'odio': 3,
 'viverra': 2,
 'dui': 3,
 'iaculis,': 1,
 'et': 2,
 'venenatis': 2,
 'risus': 1,
 'semper.': 1,
 'Sed': 4,
 'a': 1,
 'suscipit': 1,
 'mi.': 1,
 'nec': 1,
 'ante': 1,
 'sagittis': 2,
 'ultricies.': 1,
 'Vivamus': 1,
 'aliquam': 2,
 'varius': 1,
 'massa,': 1,
 'ornare': 1,
 'fringilla': 1,
 'sapien': 1,
 'sed.': 1,
 'Nunc': 1,
 'sagittis,': 1,
 'urna': 1,
 'euismod': 2,
 'varius,': 1,
 'posuere': 2,
 'mauris,': 2,
 'massa': 1,
 'vel': 2,
 'orci.': 1,
 'volutpat': 1,
 'tempus': 3,
 'tortor': 1,
 'quis': 1,
 'dignissim.': 1,
 'Nulla': 1,
 'tristique': 1,
 'id': 2,
 'nisl': 1,
 'vel,': 1,
 'accumsan': 1,
 'quam.': 1,
 'non': 3,
 'leo': 1,
 'lacus.': 1,
 'Cras': 1,
 'dolor,': 1,
 'eros': 1,
 'iaculis': 1,
 'nec.': 1,
 'Mauris': 1,
 'nibh': 1,
 'vestibulum': 1,
 'tristique.': 1,
 'Ut': 1,
 'ac': 1,
 'libero': 1,
 'commodo,': 1,
 'dapibus': 1,
 'sem': 1,
 'euismod.': 1,
 'luctus': 1,
 'lacus,': 1,
 'metus': 1,
 'eget.': 1,
 'Nam': 1,
 'commodo': 1,
 'aliquam.': 1}

In [232]:
words_count = {}
for word in document.split(" "):
    try:
        words_count[word] += 1
    except KeyError:
        words_count[word] = 1

words_count

{'Lorem': 1,
 'ipsum': 2,
 'dolor': 1,
 'sit': 1,
 'amet,': 1,
 'consectetur': 1,
 'adipiscing': 1,
 'elit.': 1,
 'Proin': 1,
 'sodales': 4,
 'convallis': 1,
 'quam': 1,
 'eleifend': 1,
 'hendrerit.': 1,
 'In': 1,
 'mollis': 1,
 'imperdiet': 1,
 'diam': 3,
 'vitae': 3,
 'dapibus.': 1,
 'Curabitur': 1,
 'ut': 1,
 'tincidunt': 3,
 'ipsum.': 1,
 'Etiam': 2,
 'lobortis': 1,
 'odio': 3,
 'viverra': 2,
 'dui': 3,
 'iaculis,': 1,
 'et': 2,
 'venenatis': 2,
 'risus': 1,
 'semper.': 1,
 'Sed': 4,
 'a': 1,
 'suscipit': 1,
 'mi.': 1,
 'nec': 1,
 'ante': 1,
 'sagittis': 2,
 'ultricies.': 1,
 'Vivamus': 1,
 'aliquam': 2,
 'varius': 1,
 'massa,': 1,
 'ornare': 1,
 'fringilla': 1,
 'sapien': 1,
 'sed.': 1,
 'Nunc': 1,
 'sagittis,': 1,
 'urna': 1,
 'euismod': 2,
 'varius,': 1,
 'posuere': 2,
 'mauris,': 2,
 'massa': 1,
 'vel': 2,
 'orci.': 1,
 'volutpat': 1,
 'tempus': 3,
 'tortor': 1,
 'quis': 1,
 'dignissim.': 1,
 'Nulla': 1,
 'tristique': 1,
 'id': 2,
 'nisl': 1,
 'vel,': 1,
 'accumsan': 1,
 'quam.': 1,
 'non': 3,
 'leo': 1,
 'lacus.': 1,
 'Cras': 1,
 'dolor,': 1,
 'eros': 1,
 'iaculis': 1,
 'nec.': 1,
 'Mauris': 1,
 'nibh': 1,
 'vestibulum': 1,
 'tristique.': 1,
 'Ut': 1,
 'ac': 1,
 'libero': 1,
 'commodo,': 1,
 'dapibus': 1,
 'sem': 1,
 'euismod.': 1,
 'luctus': 1,
 'lacus,': 1,
 'metus': 1,
 'eget.': 1,
 'Nam': 1,
 'commodo': 1,
 'aliquam.': 1}

In [233]:
words_count = {}
for word in document.split(" "):
    previous_count = words_count.get(word, 0)
    words_count[word] = previous_count + 1

words_count

{'Lorem': 1,
 'ipsum': 2,
 'dolor': 1,
 'sit': 1,
 'amet,': 1,
 'consectetur': 1,
 'adipiscing': 1,
 'elit.': 1,
 'Proin': 1,
 'sodales': 4,
 'convallis': 1,
 'quam': 1,
 'eleifend': 1,
 'hendrerit.': 1,
 'In': 1,
 'mollis': 1,
 'imperdiet': 1,
 'diam': 3,
 'vitae': 3,
 'dapibus.': 1,
 'Curabitur': 1,
 'ut': 1,
 'tincidunt': 3,
 'ipsum.': 1,
 'Etiam': 2,
 'lobortis': 1,
 'odio': 3,
 'viverra': 2,
 'dui': 3,
 'iaculis,': 1,
 'et': 2,
 'venenatis': 2,
 'risus': 1,
 'semper.': 1,
 'Sed': 4,
 'a': 1,
 'suscipit': 1,
 'mi.': 1,
 'nec': 1,
 'ante': 1,
 'sagittis': 2,
 'ultricies.': 1,
 'Vivamus': 1,
 'aliquam': 2,
 'varius': 1,
 'massa,': 1,
 'ornare': 1,
 'fringilla': 1,
 'sapien': 1,
 'sed.': 1,
 'Nunc': 1,
 'sagittis,': 1,
 'urna': 1,
 'euismod': 2,
 'varius,': 1,
 'posuere': 2,
 'mauris,': 2,
 'massa': 1,
 'vel': 2,
 'orci.': 1,
 'volutpat': 1,
 'tempus': 3,
 'tortor': 1,
 'quis': 1,
 'dignissim.': 1,
 'Nulla': 1,
 'tristique': 1,
 'id': 2,
 'nisl': 1,
 'vel,': 1,
 'accumsan': 1,
 'quam.': 1,
 'non': 3,
 'leo': 1,
 'lacus.': 1,
 'Cras': 1,
 'dolor,': 1,
 'eros': 1,
 'iaculis': 1,
 'nec.': 1,
 'Mauris': 1,
 'nibh': 1,
 'vestibulum': 1,
 'tristique.': 1,
 'Ut': 1,
 'ac': 1,
 'libero': 1,
 'commodo,': 1,
 'dapibus': 1,
 'sem': 1,
 'euismod.': 1,
 'luctus': 1,
 'lacus,': 1,
 'metus': 1,
 'eget.': 1,
 'Nam': 1,
 'commodo': 1,
 'aliquam.': 1}

In [234]:
words_count = defaultdict(int)
for word in document.split(" "):
    words_count[word] += 1

words_count

defaultdict(int,
            {'Lorem': 1,
             'ipsum': 2,
             'dolor': 1,
             'sit': 1,
             'amet,': 1,
             'consectetur': 1,
             'adipiscing': 1,
             'elit.': 1,
             'Proin': 1,
             'sodales': 4,
             'convallis': 1,
             'quam': 1,
             'eleifend': 1,
             'hendrerit.': 1,
             'In': 1,
             'mollis': 1,
             'imperdiet': 1,
             'diam': 3,
             'vitae': 3,
             'dapibus.': 1,
             'Curabitur': 1,
             'ut': 1,
             'tincidunt': 3,
             'ipsum.': 1,
             'Etiam': 2,
             'lobortis': 1,
             'odio': 3,
             'viverra': 2,
             'dui': 3,
             'iaculis,': 1,
             'et': 2,
             'venenatis': 2,
             'risus': 1,
             'semper.': 1,
             'Sed': 4,
             'a': 1,
             'suscipit': 1,
             'mi.': 1,
             'nec': 1,
             'ante': 1,
             'sagittis': 2,
             'ultricies.': 1,
             'Vivamus': 1,
             'aliquam': 2,
             'varius': 1,
             'massa,': 1,
             'ornare': 1,
             'fringilla': 1,
             'sapien': 1,
             'sed.': 1,
             'Nunc': 1,
             'sagittis,': 1,
             'urna': 1,
             'euismod': 2,
             'varius,': 1,
             'posuere': 2,
             'mauris,': 2,
             'massa': 1,
             'vel': 2,
             'orci.': 1,
             'volutpat': 1,
             'tempus': 3,
             'tortor': 1,
             'quis': 1,
             'dignissim.': 1,
             'Nulla': 1,
             'tristique': 1,
             'id': 2,
             'nisl': 1,
             'vel,': 1,
             'accumsan': 1,
             'quam.': 1,
             'non': 3,
             'leo': 1,
             'lacus.': 1,
             'Cras': 1,
             'dolor,': 1,
             'eros': 1,
             'iaculis': 1,
             'nec.': 1,
             'Mauris': 1,
             'nibh': 1,
             'vestibulum': 1,
             'tristique.': 1,
             'Ut': 1,
             'ac': 1,
             'libero': 1,
             'commodo,': 1,
             'dapibus': 1,
             'sem': 1,
             'euismod.': 1,
             'luctus': 1,
             'lacus,': 1,
             'metus': 1,
             'eget.': 1,
             'Nam': 1,
             'commodo': 1,
             'aliquam.': 1})

In [235]:
dd_list = defaultdict(list)
dd_list[2].append(1)

dd_dict = defaultdict(dict)
dd_dict['Joel']['City'] = "Seattle"

dd_pair = defaultdict(lambda: [0, 0])
dd_pair[2][1] = 1

## Contadores

In [236]:
c = Counter([0, 1, 2, 0])
c

Counter({0: 2, 1: 1, 2: 1})

In [237]:
words_count = Counter(document.split(" "))
words_count

Counter({'sodales': 4,
         'Sed': 4,
         'diam': 3,
         'vitae': 3,
         'tincidunt': 3,
         'odio': 3,
         'dui': 3,
         'tempus': 3,
         'non': 3,
         'ipsum': 2,
         'Etiam': 2,
         'viverra': 2,
         'et': 2,
         'venenatis': 2,
         'sagittis': 2,
         'aliquam': 2,
         'euismod': 2,
         'posuere': 2,
         'mauris,': 2,
         'vel': 2,
         'id': 2,
         'Lorem': 1,
         'dolor': 1,
         'sit': 1,
         'amet,': 1,
         'consectetur': 1,
         'adipiscing': 1,
         'elit.': 1,
         'Proin': 1,
         'convallis': 1,
         'quam': 1,
         'eleifend': 1,
         'hendrerit.': 1,
         'In': 1,
         'mollis': 1,
         'imperdiet': 1,
         'dapibus.': 1,
         'Curabitur': 1,
         'ut': 1,
         'ipsum.': 1,
         'lobortis': 1,
         'iaculis,': 1,
         'risus': 1,
         'semper.': 1,
         'a': 1,
         'suscipit': 1,
         'mi.': 1,
         'nec': 1,
         'ante': 1,
         'ultricies.': 1,
         'Vivamus': 1,
         'varius': 1,
         'massa,': 1,
         'ornare': 1,
         'fringilla': 1,
         'sapien': 1,
         'sed.': 1,
         'Nunc': 1,
         'sagittis,': 1,
         'urna': 1,
         'varius,': 1,
         'massa': 1,
         'orci.': 1,
         'volutpat': 1,
         'tortor': 1,
         'quis': 1,
         'dignissim.': 1,
         'Nulla': 1,
         'tristique': 1,
         'nisl': 1,
         'vel,': 1,
         'accumsan': 1,
         'quam.': 1,
         'leo': 1,
         'lacus.': 1,
         'Cras': 1,
         'dolor,': 1,
         'eros': 1,
         'iaculis': 1,
         'nec.': 1,
         'Mauris': 1,
         'nibh': 1,
         'vestibulum': 1,
         'tristique.': 1,
         'Ut': 1,
         'ac': 1,
         'libero': 1,
         'commodo,': 1,
         'dapibus': 1,
         'sem': 1,
         'euismod.': 1,
         'luctus': 1,
         'lacus,': 1,
         'metus': 1,
         'eget.': 1,
         'Nam': 1,
         'commodo': 1,
         'aliquam.': 1})

In [238]:
for word, count in words_count.most_common(10):
    print(word, count)

sodales 4
Sed 4
diam 3
vitae 3
tincidunt 3
odio 3
dui 3
tempus 3
non 3
ipsum 2

## Conjuntos

In [239]:
primes_below_10 = {2, 3, 5, 7}

s = set()
s.add(1)
s.add(2)
s.add(2)
x = len(s)
y = 2 in s
z = 3 in s

print(primes_below_10, s, x, y, z)

{2, 3, 5, 7} {1, 2} 2 True False

In [240]:
stopword_list = ['a', 'an', 'at']
stopword_set = set(stopword_list)
print('zip' in stopword_list, 'zip' in stopword_set)

False False

## Fluxo de controle

In [241]:
if 1 > 2:
    message = "If only 1 were greater than 2..."
elif 1 > 3:
    message = "elif stands for else if"
else:
    message = "when all else fails use else"

print(message)

when all else fails use else

In [242]:
parity = "even" if x % 2 == 0 else "odd"
print(parity)

even

In [243]:
x = 0
while x < 10:
    print(f"{x} is less than 10")
    x += 1

0 is less than 10
1 is less than 10
2 is less than 10
3 is less than 10
4 is less than 10
5 is less than 10
6 is less than 10
7 is less than 10
8 is less than 10
9 is less than 10

In [244]:
for x in range(10):
    print(f"{x} is less than 10")

0 is less than 10
1 is less than 10
2 is less than 10
3 is less than 10
4 is less than 10
5 is less than 10
6 is less than 10
7 is less than 10
8 is less than 10
9 is less than 10

In [245]:
for x in range(10):
    if x == 3:
        continue
    if x == 5:
        break
    print(x)

0
1
2
4

## Veracidade

In [246]:
one_is_less_than_two = 1 < 2
true_equals_false = False == True
print(one_is_less_than_two, true_equals_false)

True False

In [247]:
x = None
assert x == None
assert x is None

In [248]:
def some_function_that_returns_a_string():
    return "A string"

s = some_function_that_returns_a_string()

if s:
    first_char = s[0]
else:
    first_char = ""

print(first_char)

A

In [249]:
first_char = s and s[0]
print(first_char)

A

In [250]:
safe_x = x or 0
print(safe_x)

0

In [251]:
safe_x = x if x is not None else 0
safe_x

0

In [252]:
print(all([True, 1, {3}]))
print(all([True, 1, []]))
print(any([True, 1, []]))
print(all([]))
print(any([]))

True
False
True
True
False

## Classificação

In [253]:
x = [4, 1, 2, 3]
y = sorted(x)
x.sort()
x

[1, 2, 3, 4]

In [254]:
x = sorted([-4, 1, -2, 3], key = abs, reverse = True)
x

[-4, 3, -2, 1]

In [255]:
wc = sorted(words_count.items(),
            key = lambda word_and_count: word_and_count[1],
            reverse = True)
wc

[('sodales', 4),
 ('Sed', 4),
 ('diam', 3),
 ('vitae', 3),
 ('tincidunt', 3),
 ('odio', 3),
 ('dui', 3),
 ('tempus', 3),
 ('non', 3),
 ('ipsum', 2),
 ('Etiam', 2),
 ('viverra', 2),
 ('et', 2),
 ('venenatis', 2),
 ('sagittis', 2),
 ('aliquam', 2),
 ('euismod', 2),
 ('posuere', 2),
 ('mauris,', 2),
 ('vel', 2),
 ('id', 2),
 ('Lorem', 1),
 ('dolor', 1),
 ('sit', 1),
 ('amet,', 1),
 ('consectetur', 1),
 ('adipiscing', 1),
 ('elit.', 1),
 ('Proin', 1),
 ('convallis', 1),
 ('quam', 1),
 ('eleifend', 1),
 ('hendrerit.', 1),
 ('In', 1),
 ('mollis', 1),
 ('imperdiet', 1),
 ('dapibus.', 1),
 ('Curabitur', 1),
 ('ut', 1),
 ('ipsum.', 1),
 ('lobortis', 1),
 ('iaculis,', 1),
 ('risus', 1),
 ('semper.', 1),
 ('a', 1),
 ('suscipit', 1),
 ('mi.', 1),
 ('nec', 1),
 ('ante', 1),
 ('ultricies.', 1),
 ('Vivamus', 1),
 ('varius', 1),
 ('massa,', 1),
 ('ornare', 1),
 ('fringilla', 1),
 ('sapien', 1),
 ('sed.', 1),
 ('Nunc', 1),
 ('sagittis,', 1),
 ('urna', 1),
 ('varius,', 1),
 ('massa', 1),
 ('orci.', 1),
 ('volutpat', 1),
 ('tortor', 1),
 ('quis', 1),
 ('dignissim.', 1),
 ('Nulla', 1),
 ('tristique', 1),
 ('nisl', 1),
 ('vel,', 1),
 ('accumsan', 1),
 ('quam.', 1),
 ('leo', 1),
 ('lacus.', 1),
 ('Cras', 1),
 ('dolor,', 1),
 ('eros', 1),
 ('iaculis', 1),
 ('nec.', 1),
 ('Mauris', 1),
 ('nibh', 1),
 ('vestibulum', 1),
 ('tristique.', 1),
 ('Ut', 1),
 ('ac', 1),
 ('libero', 1),
 ('commodo,', 1),
 ('dapibus', 1),
 ('sem', 1),
 ('euismod.', 1),
 ('luctus', 1),
 ('lacus,', 1),
 ('metus', 1),
 ('eget.', 1),
 ('Nam', 1),
 ('commodo', 1),
 ('aliquam.', 1)]

## List comprehension

In [256]:
even_numbers = [x for x in range(5) if x % 2 == 0]
even_numbers

[0, 2, 4]

In [257]:
squares = [x * x for x in range(5)]
squares

[0, 1, 4, 9, 16]

In [258]:
even_squares = [x * x for x in even_numbers]
even_squares

[0, 4, 16]

In [259]:
square_dicts = {x : x * x for x in range(5)}
square_dicts

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [260]:
square_set = {x * x for x in [1, -1]}
square_set

{1}

In [261]:
zeros = [0 for _ in even_numbers]
zeros

[0, 0, 0]

In [262]:
pairs = [(x, y) 
        for x in range(10)
        for y in range(10)]
pairs

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (0, 5),
 (0, 6),
 (0, 7),
 (0, 8),
 (0, 9),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (1, 7),
 (1, 8),
 (1, 9),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (2, 7),
 (2, 8),
 (2, 9),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 8),
 (3, 9),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 8),
 (4, 9),
 (5, 0),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (5, 7),
 (5, 8),
 (5, 9),
 (6, 0),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6),
 (6, 7),
 (6, 8),
 (6, 9),
 (7, 0),
 (7, 1),
 (7, 2),
 (7, 3),
 (7, 4),
 (7, 5),
 (7, 6),
 (7, 7),
 (7, 8),
 (7, 9),
 (8, 0),
 (8, 1),
 (8, 2),
 (8, 3),
 (8, 4),
 (8, 5),
 (8, 6),
 (8, 7),
 (8, 8),
 (8, 9),
 (9, 0),
 (9, 1),
 (9, 2),
 (9, 3),
 (9, 4),
 (9, 5),
 (9, 6),
 (9, 7),
 (9, 8),
 (9, 9)]

In [263]:
increasing_pairs = [(x, y)
                    for x in range(10)
                    for y in range(x + 1, 10)]
increasing_pairs

[(0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (0, 5),
 (0, 6),
 (0, 7),
 (0, 8),
 (0, 9),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (1, 7),
 (1, 8),
 (1, 9),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (2, 7),
 (2, 8),
 (2, 9),
 (3, 4),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 8),
 (3, 9),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 8),
 (4, 9),
 (5, 6),
 (5, 7),
 (5, 8),
 (5, 9),
 (6, 7),
 (6, 8),
 (6, 9),
 (7, 8),
 (7, 9),
 (8, 9)]

## Testes automatizados e asserção

In [264]:
assert 1 + 1 == 2
assert 1 + 1 == 2, "1 + 1 should be equal 2, but didn't"

In [265]:
def smallest_item(xs):
    return min(xs)

assert smallest_item([10, 20, 5, 40]) == 5
assert smallest_item([1, 0, -1, 2]) == -1

In [266]:
def smallest_item(xs):
    assert xs, "empty list has no smallest item"
    return min(xs)

## Programação orientada a objetos

In [267]:
class CountingClicker:
    
    def _init_(self, count = 0):
        self.count = count

    def _repr_(self):
        return f"CountingClicker(count = {self.count})"
    
    def click(self, num_times = 1):
        self.count += num_times
    
    def read(self):
        return self.count
    
    def reset(self):
        self.count = 0

In [268]:
class NoResetClicker(CountingClicker):
    def reset(self):
        pass

In [269]:
clicker2 = NoResetClicker()

## Iteráveis e geradores

In [270]:
def generate_range(n):
    i = 0
    while i < n:
        yield i
        i += 1

In [271]:
for i in generate_range(10):
    print(f"i: {i}")

i: 0
i: 1
i: 2
i: 3
i: 4
i: 5
i: 6
i: 7
i: 8
i: 9

In [272]:
def natural_numbers():
    n = 1
    while True:
        yield n
        n += 1

In [273]:
evens_below_20 = (i for i in generate_range(20) if i % 2 == 0)
evens_below_20

In [274]:
data = natural_numbers()
evens = (x for x in data if x % 2 == 0)
even_squares = (x ** 2 for x in evens)
even_squares_ending_in_six = (x for x in even_squares if x % 10 == 6)
print(data, "\n", evens, "\n", even_squares, "\n", even_squares_ending_in_six)

<generator object natural_numbers at 0x7f7db0bf7a70>
 <generator object <genexpr> at 0x7f7db0bf7df0>
 <generator object <genexpr> at 0x7f7db0bf7d80>
 <generator object <genexpr> at 0x7f7db0bf7e60>

In [275]:
names = ['Alice', 'Bob', 'Charlie', 'Debbie']

# Não é pythonico
for i in range(len(names)):
    print(f"name {i} is {names[i]}")

# Também não é pythonico 
i = 0
print("\n")
for name in names:
    print(f"name {i} in {names[i]}")
    i += 1

# Pythonico
print("\n")
for i, name in enumerate(names):
    print(f"name {i} is {name}")

name 0 is Alice
name 1 is Bob
name 2 is Charlie
name 3 is Debbie


name 0 in Alice
name 1 in Bob
name 2 in Charlie
name 3 in Debbie


name 0 is Alice
name 1 is Bob
name 2 is Charlie
name 3 is Debbie

## Aleatoriedade

In [276]:
random.seed(10)

four_uniform_randoms = [random.random() for _ in range(4)]
four_uniform_randoms

[0.5714025946899135,
 0.4288890546751146,
 0.5780913011344704,
 0.20609823213950174]

In [277]:
random.seed(10)
print(random.random())
random.seed(10)
print(random.random())

0.5714025946899135
0.5714025946899135

In [278]:
range_10 = random.randrange(10)
print(range_10)
range_3_6 = random.randrange(3, 6)
print(range_3_6)

6
4

In [279]:
up_to_ten = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
random.shuffle(up_to_ten)
up_to_ten

[5, 6, 9, 2, 3, 7, 8, 4, 1, 10]

In [280]:
my_best_friend = random.choice(['Alice', 'Bob', 'Charlie'])
my_best_friend

'Bob'

In [281]:
lottery_numbers = range(60)
winning_numbers = random.sample(lottery_numbers, 6)
winning_numbers

[4, 15, 47, 23, 2, 26]

In [282]:
four_with_replacement = [random.choice(range(10)) for _ in range(4)]
four_with_replacement

[2, 9, 5, 6]

## Expressões regulares

In [283]:
re_examples = [
    not re.match("a", "cat"),
    re.search("a", "cat"),
    not re.search("c", "dog"),
    3 == len(re.split("[ab]", "carbs")),
    "R-D-" == re.sub("[0-9]", "-", "R2D2")
]

assert all(re_examples)

## zip e descompactação de argumentos

In [284]:
list1 = ['a', 'b', 'c']
list2 = [1, 2, 3]

[pair for pair in zip(list1, list2)]

[('a', 1), ('b', 2), ('c', 3)]

In [285]:
pairs = [('a', 1), ('b', 2), ('c', 3)]
letters, numbers = zip(*pairs)
print(letters, numbers)

('a', 'b', 'c') (1, 2, 3)

In [286]:
def add(a, b) : return a + b

add(1, 2)

3

In [287]:
try:
    add([1, 2])
except TypeError:
    print("add expects two inputs")

add expects two inputs

In [288]:
add(*[1, 2])

3

## args e kwargs

In [289]:
def doubler(f):
    def g(x):
        return 2 * f(x)
    return g

def f1(x):
    return x + 1

g = doubler(f1)
g3 = g(3)
g3

8

In [290]:
def f2(x, y):
    return x + y

g = doubler(f2)

try:
    g(1, 2)
except TypeError:
    print("As defined, g only takes one argument")

As defined, g only takes one argument

In [291]:
def magic(*args, **kwargs):
    print("unnamed args:", args)
    print("keywords args:", kwargs)

magic(1, 2, key = "word", key2 = "word2")

unnamed args: (1, 2)
keywords args: {'key': 'word', 'key2': 'word2'}

In [292]:
def other_way_magic(x, y, z):
    return x + y + z

x_y_list = [1, 2]
z_dict = {"z": 3}
assert other_way_magic(*x_y_list, **z_dict) == 6, "1 + 2 + 3 should be 6"

In [293]:
def double_correct(f):
    def g(*args, **kwargs):
        return 2 * f(*args, **kwargs)
    return g

g = double_correct(f2)
g(1, 2)

6

## Anotações de tipo

In [294]:
def add(a, b):
    return a + b

print(add(10, 5) == 15)
print(add([1, 2], [3]) == [1, 2, 3])
print(add("hi ", "there") == "hi there")

try:
    add(10, "five")
except TypeError:
    print("Cannot add an int to a string")

True
True
True
Cannot add an int to a string

In [295]:
def add(a: int, b: int) -> int:
    return a + b

print(add(10, 5) == 15)
print(add([1, 2], [3]) == [1, 2, 3])

True
True

## Como escrever anotações de tipo

In [296]:
def total(xs: list) -> float:
    return sum(total)

x: int = 5

In [297]:
values : List[int] = []
best_so_far = Optional[float]

count: Dict[str, int] = {'data': 1, 'science': 2}

count

{'data': 1, 'science': 2}

In [298]:
lazy = True
if lazy:
    evens: Iterable[int] = (x for x in range(10) if x % 2 == 0)
else:
    evens = [0, 2, 4, 6, 8]

evens

In [299]:
triple: Tuple[int, float, int] = (10, 2.3, 5)
triple

(10, 2.3, 5)

In [301]:
def twice(repeater : Callable[[str, int], str], s : str) -> str:
    return repeater(s, 2)

def comma_repeater(s: str, n: int) -> str:
    n_copies = [s for _ in range(n)]
    return ", ".join(n_copies)

print(twice(comma_repeater, "type hints") == "type hints, type hints")

True

In [302]:
Number = int
Numbers = List[Number]

Numbers

typing.List[int]

In [ ]:
def total(xs: Numbers) -> Number:
    return sum(xs)